@charset "utf-8";
/* CSS Document */

#style{
background-image: url(../images/backgr.jpg);
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
background-size: cover;
}
#style1 {
display: block;
margin-bottom:0px;
margin-top:0;
list-style-type: disc;

-webkit-margin-start: 0px;
-webkit-margin-end: 0px;

}